<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kiss My Face! It's an Alan Partridge placeholder image</title>
	<link rel="stylesheet" type="text/css" href="/css/aha.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=0"/>
</head>
<body>

	<h1>Kiss My Face!</h1>

	{content}

	<!-- DON'T FORGET GOOGLE ANALYTICS OR SOCIAL BUTTONS -->
	<!-- How are we going to monitor images? Is it worth moving this to a better hosting provider like Digital Ocean? -->

	<footer>
		<p>Another novel idea from <a href="http://twitter.com/Si">Si</a>, inspired by <a href="http://placebeyonce.com">Place Beyonce</a></p>
		<p>Credits to <a href="#">GITHUB</a></p>
	</footer>

</body>
</html>